body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

#tictactoe {
  margin: 0 auto;
  width: 750px;
  font-family: helvetica;
}

#game li {
  height: 200px;
  width: 200px;
  list-style-type: none;
  display: inline-block;;
  background-color: darkcyan;
  margin: 5px;
  border-width: 5px;
  border-style: outset;
  border-color: white;
  text-align: center;;
  border-radius: 50px;
  font-size: 60px;
  font-family: helvetica;
  vertical-align: middle;
  line-height: 210px;; 

}

.selected {
    pointer-events: none;
}

button {
  background-color: orange;
  height: 80px;
  width: 160px;
  font-size: 34px;
}